body{
    margin: 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 0.2rem;
    background-color: yellow;
}

hr{
    margin-top: 0;
    margin-bottom: 2rem;
}

.btn-translate{
    padding: 1rem;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-weight: bolder;
}
.btn-translate:hover{
    cursor: pointer;
}

textarea{
    border: 0.5px solid black;
    border-radius: 0.5rem;
    width: 80%;
    height: 5rem;
    display: block;
    margin: auto;
    padding: 1rem;
}

.txt-output{
    text-align: left;
    border: 0.5px solid black;
    border-radius: 0.5rem;
    width: 80%;
    height: 5rem;
    margin: auto;
    padding: 1rem;
}

footer{
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: yellow;
}
footer a{
    text-decoration: none;
}